h1 {
  color: red;
}

h2 {
  color: #8674fc;
}

p {
  color: #00dea0;
}

.inverted-colors {
  background-color: #000;
  color: #fff;
}

#example-image {
  border-radius: 25px;
  border: 5px solid orange;
}

#unique-list-item {
  color: #007ced;
}
